@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
span {
  color: rgb(131, 70, 131);
  font-size: 26px;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/twenty.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: "Poppins";
  padding-left: 5%;
  padding-right: 6%;
  box-sizing: border-box;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
}

.navbar .logo {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  margin-top: 10px;
  height: 0%;
  width: 0%;
}
.navbar nav {
  display: none;
}

.primary-nav {
  list-style-type: none;
}
.primary-nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
.primary-nav a {
  text-decoration: none;
  color: white;
}

.mobile-menu {
  position: absolute;
  top: 15px;
  right: 10px;
  height: 45px;
  cursor: pointer;
}

.secondary-nav {
  list-style-type: none;
}
.secondary-nav a {
  text-decoration: none;
  color: white;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: auto;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-exit {
  float: right;
  margin-top: 0.7em;
  margin-right: 0.3em;
  cursor: pointer;
}

.container1 {
  position: relative;
  width: 70%;
  height: 35em;
  background-position: center;
  display: block;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}
.container1 h1 {
  margin-top: 3em;
  font-size: 26px;
  color: white;
}
.container1 label {
  display: block;
  color: white;
  font-size: 15px;
  margin: 0.5em;
}
.container1 .submit {
  margin: 0 auto;
  display: inline-block;
  width: unset;
  border-radius: 5em;
  padding: 0.5em 3em;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1em;
  transition: transform 0.5s;
}
.container1 .submit:hover {
  transform: scale(1.15);
  background-color: rgb(227, 221, 221);
}
.container1 .area {
  margin: 0 auto;
  display: block;
  width: unset;
  padding: 0.8em;
  margin-bottom: 1.5em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}
.container1 input {
  margin: 0 auto;
  display: block;
  width: unset;
  padding: 0.8em;
  margin-bottom: 1.5em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

.cos {
  position: relative;
}

.cos .dropdown {
  display: none;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  top: 100%;
  width: 204px;
  height: 315px;
  font-size: 12px;
  border-radius: 2em;
  float: right;
  margin-bottom: 10px;
}

.cos:hover .dropdown {
  display: block;
}

.cos .dropdown li {
  margin-left: -60px;
  padding: 0.5px 45px;
  margin-top: 1em;
  right: 0;
}

@media only screen and (min-width: 805px) {
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: white;
    font-size: 1.2em;
    padding: 0.1em 1em;
    margin-top: 25px;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav .secondary-nav {
    margin-top: 1px;
  }
  .current {
    font-weight: bold;
  }
  .mobile-menu, .mobile-exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }
  .cos {
    position: relative;
  }
  .cos .dropdown {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    width: 204px;
    height: 315px;
    font-size: 12px;
    right: -8em;
    border-radius: 2em;
  }
  .cos:hover .dropdown {
    display: block;
  }
  .cos .dropdown li {
    left: 0;
    margin-left: -60px;
    padding: 0px 40px;
    margin-top: 0em;
  }
}
@media only screen and (min-width: 1500px) {
  span {
    color: rgb(131, 70, 131);
    font-size: 26px;
  }
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/twenty.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: "Poppins";
    padding-left: 5%;
    padding-right: 6%;
    box-sizing: border-box;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
  }
  .navbar .logo {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    margin-top: 10px;
  }
  .primary-nav {
    list-style-type: none;
  }
  .primary-nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
  }
  .primary-nav a {
    text-decoration: none;
    color: white;
  }
  .secondary-nav {
    list-style-type: none;
  }
  .secondary-nav a {
    text-decoration: none;
    color: white;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .mobile-menu {
    display: none;
  }
}
@media only screen and (min-width: 1920px) {
  span {
    color: rgb(131, 70, 131);
    font-size: 26px;
  }
}/*# sourceMappingURL=contact.css.map */