@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

span{
    color:rgb(131, 70, 131);
    font-size:26px;
    
    
}
.about{
    color:white;
font-size: 26px;
padding: 20px;

}
.about1{
    color:white;
font-size: 18px;
padding: 20px;

}
html {
    overflow-x: hidden;
    overflow-y: visible;
  }

body {
   
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url("../images/twenty.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: "Poppins";
    padding-left: 5%;
    padding-right: 6%;
    box-sizing: border-box;
    background-repeat: repeat;
    width:100vw;
    height: 100vh;
    
    
  }
.navbar
{
  
   .logo
   {
    display:block;
    padding: 0.5em;
    text-decoration: none;
    font-weight:bold;
    color:white;
    font-size:1.5em;
    margin-top: 10px;
    
    
    
   }
nav
{
    display: none;
}
   
}  

.primary-nav  {
    list-style-type:none;

    ul{
        
        li{
           list-style: none; 
           display:inline-block;
           margin-left:60px;
        }
    }
    
    a{
        text-decoration: none; 
        color:white;
        
    }
    
}
.cos {
    position: relative;
    
  }
 
  
  .cos .dropdown {
    position: relative;
    display: none;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    top:100%;
    width:204px;
    height: 315px;
    font-size: 12px;
    border-radius: 2em;
    
      
      
  }
  .cos:hover .dropdown {
    display: block;
    
      
  }
  
  .cos .dropdown li{
    
    margin-left:-60px;
    padding: 0.5px 45px;
    margin-top:1em;
    right:0;
    
  }
  

.mobile-menu {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 45px;
    
    cursor: pointer;
  }

  
.secondary-nav  {
    list-style-type:none;
  
    
   a{
    text-decoration: none;
    color:white;
}}

nav.menu-btn{
    display:block;
}

nav{
    position:fixed;
    z-index:999;
    width:auto;
    right:0;
    top:0;
    background:#20272E;
    height:100vh;
    padding:1em;
    
    
    ul.primary-nav
    {
        margin-top:4em;
    }
    li{
        a{
            color:white;
            text-decoration:none;
            display:block;
            padding:.5em;
            font-size:1.3em;
            text-align:right;
            &:hover{
                font-weight:bold;
            }
        }
    }
}
.mobile-exit{
    float:right;
    margin-top:.7em;
    margin-right: .3em;
    
    
    cursor:pointer;
}
.row{
    display:flex;
    justify-content: center;
    transform: translateY(630px);
    align-items: center;
    margin-left: 1em;
    flex-direction: column;
}
.col{
    
    float:right;
    flex-basis:100%;
    transform: translateY(-600px);
    
    .opis1{
        color:white;
        font-size:22px;
        
    }   
}
.col {
    float:right;
    display: block;
    width: 100%;
  }
  .col1{
    margin-top: -40em;
    
    top: 50%;
    left: 50%;
    transform: translate(-5%, 0%);
   
}

h1{
    
    color:white;
    font-size:60px;
}



button{
    
    border-radius:2em;
    width:28%;
    height: 2em;
    margin-top:1em;
    font-size: 1.2em;
    cursor:pointer;
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.2);
        opacity:0.9;
    }
   
    
    
}
.opis{
    margin-top: 6em;
    margin-left: 7em;
    color:white;
    font-size: 25px;
    
}
.card{
    float: right;
    width:180px;
    height:200px;
    border-radius:10px;
    padding: 0px 5px 5px 15px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 17px;
    background-size: cover;
    background-position: center;
    transition: transform 0.7s ;
    p{
        font-size:12px;
        color:white;
       
       
    }
    &:hover{
        transform: scale(1.15);
        
    }
    
      
    
}
.container{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
h2{
    color:white;
    margin-top:0;
    margin-left:-10px;
    font-size:16.5px;
    pointer-events: none;
}
h3{
    color:white;
    margin-top:0;
    margin-left:97px;
    font-size:20px;
    pointer-events: none;
}
.interpol{
    color:white;
    margin-top:-2px;
    margin-left:85px;
    font-size:20px;
    pointer-events: none;
}
h5{
    color:white;
    margin-top: 0;
    margin-left:20px;
    font-size:14px;
    pointer-events: none;
}
h6{
    color:white;
    margin-top: 2px;
    margin-left:55px;
    font-size:19px;
    pointer-events: none;
}
.slowdive{
    color:white;
    margin-top: -2px;
    margin-left:88px;
    font-size:17px;
    pointer-events: none;
}

.card6 h6{
    color:white;
    margin-top: 0;
    margin-left:140px;
    font-size:19px;
}




.card1{
background-image: url("../images/bloody.jpg");
}
.card2{
    background-image: url("../images/radio1.jpg");
}
.card3{
    background-image: url("../images/interpol.jpg");
}
.card4{
    background-image: url("../images/ne.jpg");
}
.card5{
    background-image: url("../images/xx.webp");
}

.card6{
    background-image: url("../images/slowdive1.jpg");
}



@media only screen and (min-width:805px){
    .mobile-menu,.mobile-exit{
        display:none;
    }

.navbar .container{
    display:grid;
    grid-template-columns: 180px auto;
    justify-content:unset;
    
  
    
}
.col {
    float:left;
    display: block;
    width: 100%;
    margin-left: 0em;
  }


.col1{
    transform: translateY(100px); 
}
.navbar nav {
    display:flex;
    justify-content: space-between;
    background:none;
    position:unset;
    height:auto;
    width:100%;
    padding:0;
    ul{
        display:flex;
        
    }
    a{
        color:white;
        font-size:1.2em;
        padding: .1em 1em;
        margin-top: 25px;
        
    }
    ul.primary-nav{
        margin:0;

    }
    .secondary-nav
    {
        margin-top: 1px;
    }
//About section

}

}
.current {
    font-weight:bold;

 } 
 .container1{
    
    margin-top: -2em;
    padding: 2em;

    
 }
@media only screen and (min-width:1100px){
    span{
          color:rgb(131, 70, 131);
    font-size:26px;
    
    }
    html{
       
    }
    body {
        
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
        url("../images/twenty.jpg");
        background-size: cover;
        background-position: center;
        margin: 0;
        font-family: "Poppins";
        padding-left: 0%;
        padding-right: 0%;
        box-sizing: border-box;
        background-repeat: repeat;
        width:100vw;
        height: 100vh;
        
        
      }
    .navbar
    {
      
       .logo
       {
        display:block;
        padding: 0.5em;
        text-decoration: none;
        font-weight:bold;
        color:white;
        font-size:1.5em;
        margin-top: 10px;
        height: 100%;
        width: 100%;
        
        
       }  
       
    }  
    
    .primary-nav  {
        list-style-type:none;
    
        ul{
            
            li{
               list-style: none; 
               display:inline-block;
               margin-left:60px;
            }
        }
        
        a{
            text-decoration: none; 
            color:white;
            
        }
        
    }
    .cos {
        position: relative;
        
      }
      
      .cos .dropdown {
        display: none;
        position: absolute;
        z-index: 999;
        background-color: rgba(0, 0, 0, 1);
        width:204px;
        height: 315px;
        font-size: 12px;
        right:-8em;
        border-radius: 2em;
        
        
          
      }
      .cos:hover .dropdown {
        display: block;
        
        
      }
      .cos .dropdown li{
        left: 0;
        margin-left:-60px;
        padding: 0px 40px;
        margin-top:0em;
        
        
      }
    
    .mobile-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
    
    
    .secondary-nav  {
        list-style-type:none;
       a{
        text-decoration: none;
        color:white;
    }}
    
    nav.menu-btn{
        display:block;
    }
    
    nav{
        position:fixed;
        z-index:999;
        width:59%;
        right:0;
        top:0;
        background:#20272E;
        height:100vh;
        padding:1em;
        
        ul.primary-nav
        {
            margin-top:5em;
        }
        li{
            a{
                color:white;
                text-decoration:none;
                display:block;
                padding:.5em;
                font-size:1.3em;
                text-align:right;
                &:hover{
                    font-weight:bold;
                }
            }
        }
    }
    .mobile-exit{
        float:right;
        margin:.5em;
        cursor:pointer;
    }
    .row{
        display:flex;
        justify-content: center;
        transform: translateY(0px);
        align-items: center;
        margin-left: 0em;
        flex-direction: row;      
        
    }
    .col{
        
        float:right;
        display: block;
        flex-basis:100%;
        transform: translateY(-100px);
        margin-left: 0;
        height: 100%
        
        p{
            color:white;
            font-size:220px;
            margin-right: 4em;
        }
        
    }h1{
        
        color:white;
        font-size:60px;
    }
    
    
    button{
        
        border-radius:2em;
        width:28%;
        height: 2em;
        margin-top:1em;
        font-size: 1.2em;
        cursor:pointer;
        transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.2);
            opacity:0.9;
        }
       
        
        
    }
    
    .card{
        float: right;
        width:220px;
        height:250px;
        border-radius:10px;
        padding: 0px 5px 5px 15px;
        box-sizing:border-box;
        cursor:pointer;
        margin:12px 17px;
        background-size: cover;
        background-position: center;
        transition: transform 0.7s ;
        p{
            font-size:12px;
            color:white;
           
           
        }
        &:hover{
            transform: scale(1.15);
            
        }
        
          
        
    }
    .container{
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    h2{
        color:white;
        margin-top:0;
        margin-left:6px;
        font-size:19px;
        pointer-events: none;
    }
    h3{
        color:white;
        margin-top:0;
        margin-left:135px;
        font-size:20px;
        pointer-events: none;
    }
    h4{
        color:white;
        margin-top:0;
        margin-left:140px;
        font-size:20px;
        pointer-events: none;
    }
    h5{
        color:white;
        margin-top: 0;
        margin-left:21px;
        font-size:18px;
        pointer-events: none;
    }
    h6{
        color:white;
        margin-top: 3px;
        margin-left:95px;
        font-size:19px;
        pointer-events: none;
    }
    .interpol{
        color:white;
        margin-top:-1px;
        margin-left:120px;
        font-size:20px;
        pointer-events: none;
    }
   
    .slowdive{
        color:white;
        margin-top: -1px;
        margin-left:122px;
        font-size:18px;
        pointer-events: none;
    }
    .card6 h6{
        color:white;
        margin-top: 0;
        margin-left:140px;
        font-size:19px;
    }
    .col{
        margin-top: 7em;
        
    }
    .col1{
        margin-top: -15em;
        transform: translate(5%, 19%);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0px;
        
    }
    .opis{
        display: none;
    }
  section{
    background-color: black;
    height:5.9%;
    width: 100%;
    color:white;
    
  }
  .section1{
    padding-left: 5%;
        padding-right: 6%;
        
  }
  .container2{
    padding-left: 5%;
        padding-right: 6%;
        
  }
  .insta{
    height: 2%;
    width: 2%;
    float:right;
    cursor:pointer;
    margin-left:0.5em;
    margin-top: 0.5em;
    
    
  }
  .fb{
    height: 2%;
    width: 2%;
    float:right;
    cursor:pointer;
    margin-left:0.5em;
    margin-top: 0.4em;
    
    
  }
}

@media only screen and (min-width:1600px){
    span{
          color:rgb(131, 70, 131);
    font-size:26px;
    }
    
    body {
       
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
        url("../images/twenty.jpg");
        background-size: cover;
        background-position: center;
        margin: 0;
        font-family: "Poppins";
        padding-left: 5%;
        padding-right: 6%;
        box-sizing: border-box;
        background-repeat: repeat;
        width:100vw;
        height: 100vh;
        
      }
    .navbar
    {
      
       .logo
       {
        display:block;
        padding: 0.5em;
        text-decoration: none;
        font-weight:bold;
        color:white;
        font-size:1.5em;
        margin-top: 10px;
        height: 100%;
        width: 100%;
        
        
       }  
       
    }  
    
    .primary-nav  {
        list-style-type:none;
    
        ul{
            
            li{
               list-style: none; 
               display:inline-block;
               margin-left:60px;
            }
        }
        
        a{
            text-decoration: none; 
            color:white;
            
        }
        
    }
    
      
    .cos {
        position: relative;
        
      }
      
      .cos .dropdown {
        display: none;
        position: absolute;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.7);
        width:210px;
        height: 305px;
        font-size: 12px;
        right:-8em;
        border-radius: 2em;
        margin-top: -1.5em;
        
        
          
      }
      .cos:hover .dropdown {
        display: block;
        
        
      }
      .cos .dropdown li{
        left: 0;
        margin-left:-60px;
        padding: 0.5px 45px;
        
      }
      
      
    
    .mobile-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
    
    
    .secondary-nav  {
        list-style-type:none;
       a{
        text-decoration: none;
        color:white;
    }}
    
    nav.menu-btn{
        display:block;
    }
    
    nav{
        position:fixed;
        z-index:999;
        width:59%;
        right:0;
        top:0;
        background:#20272E;
        height:100vh;
        padding:1em;
        ul.primary-nav
        {
            margin-top:5em;
        }
        li{
            a{
                color:white;
                text-decoration:none;
                display:block;
                padding:.5em;
                font-size:1.3em;
                text-align:right;
                &:hover{
                    font-weight:bold;
                }
            }
        }
    }
    .mobile-exit{
        float:right;
        margin:.5em;
        cursor:pointer;
    }
    .row{
        display:flex;
        justify-content: center;
        transform: translateY(130px);
        align-items: center;
        margin-left: 0em;
        flex-direction: row;
    }
    .col{
        
        float:right;
        display: block;
        flex-basis:100%;
        transform: translateY(-110px);
        margin-left: 0;
        
        p{
            color:white;
            font-size:22px;
            margin-right: 4em;
        }
        
    }h1{
        
        color:white;
        font-size:60px;
    }
    
    
    button{
        
        border-radius:2em;
        width:28%;
        height: 2em;
        margin-top:1em;
        font-size: 1.2em;
        cursor:pointer;
        transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.2);
            opacity:0.9;
        }
       
        
        
    }
    
    .card{
        float: right;
        width:250px;
        height:280px;
        border-radius:10px;
        padding: 0px 5px 5px 15px;
        box-sizing:border-box;
        cursor:pointer;
        margin:12px 17px;
        background-size: cover;
        background-position: center;
        transition: transform 0.7s ;
        p{
            font-size:12px;
            color:white;
           
           
        }
        &:hover{
            transform: scale(1.15);
            
        }
        
          
        
    }
    .container{
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    h2{
        color:white;
        margin-top:0;
        margin-left:26px;
        font-size:19px;
        pointer-events: none;
    }
    h3{
        color:white;
        margin-top:0;
        margin-left:155px;
        font-size:20px;
        pointer-events: none;
    }
    h4{
        color:white;
        margin-top:0;
        margin-left:140px;
        font-size:20px;
        pointer-events: none;
    }
    h5{
        color:white;
        margin-top: 0;
        margin-left:40px;
        font-size:18px;
        pointer-events: none;
    }
    h6{
        color:white;
        margin-top: 1px;
        margin-left:114px;
        font-size:19px;
        pointer-events: none;
    }
    .interpol{
        color:white;
        margin-top:-2px;
        margin-left:140px;
        font-size:20px;
        pointer-events: none;
    }
   
    .slowdive{
        color:white;
        margin-top: -4px;
        margin-left:138px;
        font-size:19px;
        pointer-events: none;
    }
    .card6 h6{
        color:white;
        margin-top: 0;
        margin-left:140px;
        font-size:19px;
    }
    .col{
        margin-top: 6em;
        
    }
    .col1{
        margin-top: -10em;
        top: 26%;
        left: 50%;
        transform: translate(0%, 20%);
        
    }
    .opis{
        display: none;
    }
}