@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
span {
  color: brown;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/twenty.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: "Poppins";
  padding-left: 5%;
  padding-right: 6%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.navbar .logo {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  margin-top: 10px;
  height: 100%;
  width: 100%;
}
.navbar nav {
  display: none;
}

.primary-nav {
  list-style-type: none;
}
.primary-nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
.primary-nav a {
  text-decoration: none;
  color: white;
}

.mobile-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.secondary-nav {
  list-style-type: none;
}
.secondary-nav a {
  text-decoration: none;
  color: white;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 59%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
  transform: translateY(130px);
  align-items: center;
}

.col {
  float: right;
  flex-basis: 100%;
  transform: translateY(-110px);
}
.col p {
  color: white;
  font-size: 22px;
  margin-right: 4em;
}

h1 {
  color: white;
  font-size: 60px;
}

button {
  border-radius: 2em;
  width: 28%;
  height: 2em;
  margin-top: 1em;
  font-size: 1.2em;
  cursor: pointer;
  transition: transform 0.3s ease;
}
button:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.card {
  float: right;
  width: 240px;
  height: 270px;
  border-radius: 10px;
  padding: 0px 5px 5px 15px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 12px 17px;
  background-size: cover;
  background-position: center;
  transition: transform 0.7s;
}
.card p {
  font-size: 12px;
  color: white;
}
.card:hover {
  transform: scale(1.15);
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h2 {
  color: white;
  margin-top: 0;
  margin-left: -10px;
  font-size: 19px;
  pointer-events: none;
}

h3 {
  color: white;
  margin-top: 0;
  margin-left: 155px;
  font-size: 20px;
  pointer-events: none;
}

h4 {
  color: white;
  margin-top: 0;
  margin-left: 140px;
  font-size: 20px;
  pointer-events: none;
}

h5 {
  color: white;
  margin-top: 0;
  margin-left: 40px;
  font-size: 18px;
  pointer-events: none;
}

h6 {
  color: white;
  margin-top: 5px;
  margin-left: 110px;
  font-size: 19px;
  pointer-events: none;
}

.card6 h6 {
  color: white;
  margin-top: 0;
  margin-left: 140px;
  font-size: 19px;
}

.card1 {
  background-image: url("../images/bloody.jpg");
}

.card2 {
  background-image: url("../images/radio1.jpg");
}

.card3 {
  background-image: url("../images/interpol.jpg");
}

.card4 {
  background-image: url("../images/ne.jpg");
}

.card5 {
  background-image: url("../images/xx.webp");
}

.card6 {
  background-image: url("../images/slowdive1.jpg");
}/*# sourceMappingURL=wyglad.css.map */